body {
font-family: "Myriad Web Pro", Helvetica, Arial, sans-serif;
font-size: 12px;
color: #000000;
background-color: #63317F;
}

h1,
h2,
h3,
h4,
h5,
h6 {
margin: 10px 0 0 0;
}

h1 {
margin-bottom:-5px;
color:#FFFFFF;
font-weight: normal;
font-size: 24px;
}
h2 {
margin:5px 0;
line-height:normal;
color:#FFFFFF;
font-weight: normal;
font-size: 12px;
}
h3 {
margin: 0;
color: #63317F;
font-size: 18px;
line-height:normal;
}
h4 {
margin: 0;
color: #666666;
font-weight: normal;
font-size: 14px;
line-height:normal;
}

hr {
margin: 0;
opacity: 0.5;
}

input,
button,
select,
textarea {
font-family: "Myriad Web Pro", Helvetica, Arial, sans-serif;
}

.navbar .brand {
padding: 0px 40px 0px 20px;
margin-left: 0px;
}

.navbar-search .search-query {
font-family: "Myriad Web Pro", Helvetica, Arial, sans-serif;
}

.navbar .nav > li > a {
padding: 10px 20px 10px;
}

.thumbnail {
width: 300px;
height:300px;
line-height: normal;
background-color:white;
}

.thumbnails {
  margin-left: -10px;
  list-style: none;
  *zoom: 1;
}

.thumbnails > li {
  
  margin-bottom: 40px;
  margin-left: 10px;
}

.thumbnail {
  display: block;
  padding: 5px;
  line-height: 20px;
  border: 1px solid #ddd;
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px;

}

.thumbnail h3{
	padding:15px 10px 0 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.thumbnail h4{
	padding-top:-5px;
	padding-left:10px;
}

.watch{
	margin:10px 10px;

}
.filterbtn{
	float:right;
	margin:10px 10px;


}

.whitebg{
	font-size: 14px;
	background-color:white;
	margin-right:0px;
	padding-right:-20px;
	padding:10px 10px 0 10px;
	margin-bottom:20px;

}

.whitebg .checkbox{
	font-size:14px;
	margin-right:20px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}


.addressblock{
	display:block;
	float:right;
	padding-top:10px;
	padding-right:0px;
}

.FAQimg{
	padding-left:10px;
}
    /* Large desktop */
@media (min-width: 979px) {
	.splashimg{
		display:block;
		margin:auto;
		margin-top:40px;
	}
     .loginbtn{
		display:block;
		width:278px;
		margin: auto;
		position:relative;
		left:270px;
		bottom:90px;
	}
	.loginbtn img{
		display:block;
		margin: auto;
		
	}
	.carousel{
		width:960px;
	}
}
     
    /* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
	.loginbtn{
	display:block;
	width:278px;
	float:right;
	position:relative;
	right:50px;
	bottom:90px;

	}

	.carousel{
		width:650px;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	.loginbtn{
	display:block;
	width:278px;
	float:none;
	clear:both;
	position:relative;
	right:0px;
	bottom:90px;
	margin:20px auto;
	padding:auto;

}
	.loginbtn img{
		display:block;
		margin: auto;
		
	}

	.carousel{
		width:auto;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.splashimg{
		visibility: hidden;
	}

	.loginbtn{
	display:block;
	width:auto;
	float:none;
	clear:both;
	position:static;
	right:0px;
	bottom:0px;
	

}
	.loginbtn img{
		display:block;
		margin: auto;
		
	}

	
}